
$navfont-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$font-familybody:Arial, Helvetica, sans-serif;




* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: $font-familybody;
  color:black; 
  line-height: 1.8;
  height: 100vh;
  overflow: hidden;
}

.scrollcontainer {
  width: 100vw;
  height: 100vh;
  /* CSS smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.nav-bar {
  text-align: end;
  background-color: rgb(247, 238, 238, 0.9);
  border-bottom:white 2px solid;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index:1;
  display: flex;
  justify-content: space-around;
  
  ul {
     display: flex;
     width: 100%;
     justify-content: space-around;
     list-style: none;
     align-items: center;
  }

   li {
     font-size: 15px;
     

   }

   a:hover {
   color: rgb(177, 7, 7);
  }
   a {
    text-decoration: none;
    color: black;
   }

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 615px;
  scroll-snap-align: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    color:whitesmoke;
    font-weight: bold;
  }

  h2 {
    font-size: 0.8rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    
  }
  h3 {
    font-size: 3rem;
    text-align: center;
    color:black;
    font-weight: bold;
  }

  // h4 {
  //   font-size: 0.8rem;
  //   text-align: center;
  //   color: black;
  //   font-weight: bold;
    
  // }

}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  
}



.container-foraboutsection {
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 370px;


  .text-area {
    display: block;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 500px;
    height: 300px;


  }
  
}
.imageabout{
 display: block;
 width: 500px;
 height: 300px;
 align-self: flex-start;
 border-radius: 50px;
 border: black 3px solid;
 margin-top: 0%;
 margin-bottom: 5%;
}

.image-project {
  width: 90px;
  height: 80px;
  border: 2px red solid;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;

}

.projectcontainers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 500px; 
  height: 80px;
  border: 1px black solid;

}

.projectcontainers {
  &__project {
    border: 2px black solid;
    width: 420px;
    height: 75px;
  }
}

.expertise-section {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.coding-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px black solid;
  height: 400px;
  width: 600px;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.logo-images {
  width: 140px;
  height: 170px;
}

#logotext {
  font-size: 20px;
  font-family:$navfont-family;
} 



  #Home{
    background: url('./picture/graduation\ pic2\ \(3\).jpg') no-repeat center center/ cover fixed;

  }