* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.8;
  height: 100vh;
  overflow: hidden;
}

.scrollcontainer {
  width: 100vw;
  height: 100vh;
  /* CSS smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.nav-bar {
  text-align: end;
  background-color: rgba(247, 238, 238, 0.9);
  border-bottom: white 2px solid;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
}
.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.nav-bar li {
  font-size: 15px;
}
.nav-bar a:hover {
  color: #b10707;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 844px;
  scroll-snap-align: center;
}
section h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}
section h2 {
  font-size: 0.8rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  margin: 1.5%;
}
section h3 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.container-foraboutsection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 680px;
}
.container-foraboutsection .text-area {
  margin-top: 5%;
  width: 350px;
}

.imageabout {
  width: 350px;
  height: 250px;
  border-radius: 50px;
  border: black 3px solid;
  margin-top: 5%;
}

.image-project {
  width: 120px;
  height: 140px;
  border: 2px red solid;
}

.projectcontainers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  height: 140px;
  border: 1px black solid;
  margin-top: 6%;
}

.projectcontainers__project {
  border: 2px black solid;
  width: 240px;
  height: 139px;
}

.coding-skills {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px black solid;
  height: 620px;
  width: 300px;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 10%;
}

.logo-images {
  width: 130px;
  height: 90px;
}

#logotext {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.email-icon {
  width: 140px;
  height: 170px;
}

.contact-section h3 {
  text-justify: auto;
}
.contact-section p {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  margin-top: 25%;
  margin-bottom: 25%;
  margin-left: 2%;
  margin-right: 2%;
}

#Home {
  background: url("./picture/graduation pic2 (3).jpg") no-repeat center center/cover fixed;
}

@media screen and (min-width: 768px) {
  #Home h1 {
    margin-bottom: 1%;
  }
  #Home h2 {
    margin-bottom: 15%;
  }

  .about-section {
    display: block;
    display: grid;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;
  }

  .container-foraboutsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100vw;
  }
  .container-foraboutsection .imageabout {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */