$navfont-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$font-familybody: Arial, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: $font-familybody;
  color: black;
  line-height: 1.8;
  height: 100vh;
  overflow: hidden;
}

.scrollcontainer {
  width: 100vw;
  height: 100vh;
  /* CSS smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.nav-bar {
  text-align: end;
  background-color: rgb(247, 238, 238, 0.9);
  border-bottom: white 2px solid;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;

  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
  }

  li {
    font-size: 15px;
  }

  a:hover {
    color: rgb(177, 7, 7);
  }
  a {
    text-decoration: none;
    color: black;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 844px; 
  scroll-snap-align: center;

  h1 {
    font-size: 3rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
  }

  h2 {
    font-size: 0.8rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    margin: 1.5%;
  }
  h3 {
    font-size: 3rem;
    text-align: center;
    color: black;
    font-weight: bold;
  }

  // h4 {
  //   font-size: 0.8rem;
  //   text-align: center;
  //   color: black;
  //   font-weight: bold;

  // }
}

// .about-section {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
// }

.container-foraboutsection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 680px; // changed forbetter organisation on phone view//

  .text-area {
    margin-top: 5%;
    width: 350px;
  }
}
.imageabout {
  width: 350px;
  height: 250px;
  border-radius: 50px;
  border: black 3px solid;
  margin-top: 5%;
}

.image-project {
  width: 120px;
  height: 140px;
  border: 2px red solid;
}

// .project-section {
//   justify-content: space-evenly;
// }

.projectcontainers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  height: 140px;
  border: 1px black solid;
  margin-top: 6%;
}

.projectcontainers {
  &__project {
    border: 2px black solid;
    width: 240px;
    height: 139px;
  }
}

// .expertise-section {
//   justify-content: space-evenly;
// }

.coding-skills {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px black solid;
  height: 620px; // change  media Query//
  width: 300px; // change  media Query//
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-top: 10%;

  //grid-template-columns: 1fr 1fr 1fr 1fr; //

}

.logo-images {
  width: 130px;
  height: 90px;
} //change on media query//

#logotext {
  font-size: 20px;
  font-family: $navfont-family;
}

.email-icon {
  width: 140px;
  height: 170px;
}


.contact-section {

  h3 {
    text-justify: auto;
  }
  p {
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 2%;
    margin-right: 2%;
  }
}

#Home {
  background: url("./picture/graduation\ pic2\ \(3\).jpg") no-repeat center
    center/ cover fixed;
}

@media screen and (min-width: 768px) {
 
  #Home {

    h1 {
      margin-bottom: 1%; 
    }

    h2 {
      margin-bottom: 15%;
    }
    
  }
  

  .about-section {
    display: grid;
    width: 100vw;
    justify-content: space-evenly;
    align-content: center;

  }

  .container-foraboutsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width:100vw;


    .imageabout {
      width: 400px;
    }
  }
  
  .project-section {
    width: 100vw;
    display: grid;
    grid-template-rows: 130px 320px;
    align-items: flex-end;

  }


  .grid-containerfordestopview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    justify-items: center;
  }

  .expertise-section {
    display: grid;
    height: 100vw;
    grid-template-rows: 130px 320px;
    align-items: flex-end;
  }

  .coding-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 300px; 
    width: 600px;
  }

  .logo-images {
    width: 150px;
    height: 110px;
  } //change on media query//
  
  #logotext {
    font-size: 26px;
    font-family: $navfont-family;
  }

  .contact-section {
    display: grid;
    grid-template-rows: 130px 140px 200px;
    justify-items: center;
    

    
  }

}
