* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 1.8;
  height: 100vh;
  overflow: hidden;
}

.scrollcontainer {
  width: 100vw;
  height: 100vh;
  /* CSS smooth scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.nav-bar {
  text-align: end;
  background-color: rgba(247, 238, 238, 0.9);
  border-bottom: white 2px solid;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 1;
}
.nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}
.nav-bar li {
  font-size: 15px;
}
.nav-bar a:hover {
  color: #b10707;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 844px;
  scroll-snap-align: center;
}
section h1 {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
}
section h2 {
  font-size: 0.8rem;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  margin: 1.5%;
}
section h3 {
  font-size: 3rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-foraboutsection {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 620px;
}
.container-foraboutsection .text-area {
  display: block;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 350px;
  height: 264px;
}

.imageabout {
  display: block;
  width: 350px;
  height: 350px;
  align-self: flex-start;
  border-radius: 50px;
  border: black 3px solid;
  margin-top: 5%;
  margin-bottom: 20%;
}

.image-project {
  width: 120px;
  height: 140px;
  border: 2px red solid;
}

.project-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.projectcontainers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 360px;
  height: 140px;
  border: 1px black solid;
}

.projectcontainers__project {
  border: 2px black solid;
  width: 240px;
  height: 139px;
}

.expertise-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.coding-skills {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border: 2px black solid;
  height: 620px;
  width: 300px;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.logo-images {
  width: 130px;
  height: 90px;
}

#logotext {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.email-icon {
  width: 140px;
  height: 170px;
}

section.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
section h3 {
  text-justify: auto;
}
section p {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  margin: 1%;
}

#Home {
  background: url("./picture/graduation pic2 (3).jpg") no-repeat center center/cover fixed;
}/*# sourceMappingURL=style.css.map */